# Default ignores
/bin/
/classes/
/deploy/
/dist/
/lib/
/log/
/reports/
/test/
/tmp/

build-base-local.properties
build-local.properties

*.orig
*.patch
*.rej

# Default Java ignores
*.class
*.jar
*.war
*.ear

# Ignores for OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# Ignores for Windows
Thumbs.db 
Desktop.ini
$RECYCLE.BIN/
